@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap');


/* Google Font */
*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* no reset on bootstrap */

body{ background: linear-gradient(90deg, rgba(221,207,194,1) 3%, rgba(220,205,194,1) 6%, rgba(221,209,197,1) 9%, rgba(220,205,196,1) 12%, rgba(222,209,200,1) 15%, rgba(220,210,201,1) 18%, rgba(220,210,204,1) 21%, rgba(215,205,199,1) 24%, rgba(216,206,202,1) 27%, rgba(218,207,204,1) 30%, rgba(216,207,206,1) 33%, rgba(210,201,200,1) 36%, rgba(210,201,200,1) 39%, rgba(210,203,203,1) 42%, rgba(210,203,203,1) 45%, rgba(206,201,203,1) 47%, rgba(206,201,205,1) 50%, rgba(204,201,206,1) 53%, rgba(206,201,207,1) 56%, rgba(200,198,209,1) 60%);
 }



 

 /* background: linear-gradient(90deg, rgba(221,207,194,1) 3%, rgba(220,205,194,1) 6%, rgba(221,209,197,1) 9%, rgba(220,205,196,1) 12%, rgba(222,209,200,1) 15%, rgba(220,210,201,1) 18%, rgba(220,210,204,1) 21%, rgba(215,205,199,1) 24%, rgba(216,206,202,1) 27%, rgba(218,207,204,1) 30%, rgba(216,207,206,1) 33%, rgba(210,201,200,1) 36%, rgba(210,201,200,1) 39%, rgba(210,203,203,1) 42%, rgba(210,203,203,1) 45%, rgba(206,201,203,1) 47%, rgba(206,201,205,1) 50%, rgba(204,201,206,1) 53%, rgba(206,201,207,1) 56%, rgba(200,198,209,1) 60%);*/

 

  


    /* background: linear-gradient(90deg, rgba(221,207,194,1) 3%, rgba(220,205,194,1) 6%, rgba(221,209,197,1) 9%, rgba(220,205,196,1) 12%, rgba(222,209,200,1) 15%, rgba(220,210,201,1) 18%, rgba(220,210,204,1) 21%, rgba(215,205,199,1) 24%, rgba(216,206,202,1) 27%, rgba(218,207,204,1) 30%, rgba(216,207,206,1) 33%, rgba(210,201,200,1) 36%, rgba(210,201,200,1) 39%, rgba(210,203,203,1) 42%, rgba(210,203,203,1) 45%, rgba(206,201,203,1) 47%, rgba(206,201,205,1) 50%, rgba(204,201,206,1) 53%, rgba(206,201,207,1) 56%, rgba(200,198,209,1) 60%); */
 
    


  
  



  nav{

   
background: rgba( 36, 34, 34, 0.75 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 2.5px );
-webkit-backdrop-filter: blur( 2.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );


   
  }

  .navbar ul li a{
    color: #29A0B1;
    text-align: center;
  }

  .navbar ul li a:hover {
  
    background-color: #9eacb6;
    border-radius: 10% ;
 
    
   
}




 #landing{

height: 70vh;
width: 100vw;
margin: 0;
padding: 0;




    
  } 
  .contact{
    text-decoration: none;
    color: black;
    
  }





  h1{
    color: #29A0B1;
  
    font-size: 60px;
    text-shadow: 1px 1px 2px rgba(12, 13, 13, 0.875);
    font-weight: bold;


    
    font-family: 'Bitter', serif;
  }
  
  h2{
    color: #eea849;

    
   

    font-size: 40px;
    font-weight: bolder;
    text-shadow: 1px 1px 2px rgba(12, 13, 13, 0.875);

 
    font-family: 'Bitter', serif;

  }



  h4{
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(12, 13, 13, 0.875);
   
    font-family: 'Bitter', serif;
  }
  .img-landing{
    height: 250px;
    width:270px;
    box-shadow: 5px 2px 5px 1px rgba(0,0,0,0.75);
border-radius: 1rem ;
  }

.rsm{

 
  background-color: #29A0B1;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);


height: 50px ;
width: 100px ;
border-style: none;
font-family: 'Bitter', serif;

}


  /* About Me */
#about-me{
  height: 100%;
  width: 100vw;
 
  
 
}
.card-one{
  max-height: 200px;
  max-width: fit-content;
}
.card-1{
  height: 150px;
  width:150px;
  object-fit: cover;
}



  /* End About me */


 
 
  /* Skills */
  #skills{
    height: 60vh;
    width: 100%;
  }


  .cplus{
    width: 50vw;
  }
  .seven-five{
    width: 75%;
  }

  .six{
    width: 60%;
  }
  .seven{
    width: 70%;
  }
  .eight{
    width: 80%;
  }
/* End Skills */

  

/* Projects  */
#projects{
  height: 100%;
  width: 100vw;
}

/* .pic-proj{
  height: 250px;
  width: 200px;
} */
.container {
  position: relative;
  width: 50%;
}

.image {
  /* display: block; */
  height: 250px;
  width: 220px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #262c2f;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.container:hover .overlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
 opacity: .8;
}

.text {
  color: white;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
}



  
  /* End of Projects */


  /* Contact  */
#contact{
height: 100%;
width: 100vw;
margin-bottom: 50px;
}



  /* End Contact */
footer{
  height: 7vh;
  width: 100vw;
 
}

 
html{
  scroll-behavior: smooth;
}

@media only screen and (max-width: 390px) {
  .card-one{
    max-height: 100%;
    max-width: fit-content;
    overflow: hidden;
  }
  .card-1{
    height: 50px;
    width:50px;
    
  }

  h5{

  }
  .card-body{
    font-size: 20px;
  }
  }

